
{% set previousPost = collections.events | getPreviousCollectionItem %}
{% set nextPost = collections.events | getNextCollectionItem %}
<div class="col  border-top border-end py-vh-3 d-flex align-items-center">
  {% if previousPost %}
      <a href="{{ previousPost.url }}" class="link-fancy gambado ms-2 display-7">{% include 'svg/arrow-left.svg' %}</a><a href="{{ previousPost.url }}" style="padding-right: 12px;" class="link-fancy gambado ms-2 display-7">{{ previousPost.data.title }}</a>
      {% else %}
      <div class="gambado display-6 opacity-25 fw-bolder p-3">The End!</div>
  {% endif %}
</div>
<div class="col border-top text-end py-vh-3 d-flex align-items-center justify-content-end">
  {% if nextPost %}
  <a href="{{ nextPost.url }}" style="padding-left: 12px;" class="me-2 display-7 gambado link-fancy">{{ nextPost.data.title }}</a> <a href="{{ nextPost.url }}" class="me-2 display-7 gambado link-fancy">{% include 'svg/arrow-right.svg' %}</a>
{% else %}
<div class="gambado display-6 opacity-25 fw-bolder p-3">The Beginning!</div>
  {% endif %}
</div>
