  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% if summary %}
    <meta name="description" content="{{ summary }}">
  {% else %}
    <meta name="description" content="{{ metadata.description }}">
  {% endif %}
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.png">
  <link rel="preconnect" href="https://www.youtube-nocookie.com" crossorigin>
  <link rel="preconnect" href="https://www.youtube.com" crossorigin>
  <link rel="preconnect" href="https://i.ytimg.com" crossorigin>
  <link rel="preconnect" href="https://www.google.com" crossorigin>
  <link rel="preconnect" href="https://stitcher.simplecastaudio.com" crossorigin>
  <link rel="preconnect" href="https://mcdn.podbean.com" crossorigin>
  <link rel="preconnect" href="https://traffic.megaphone.fm" crossorigin>
  <link rel="preconnect" href="https://dts.podtrac.com" crossorigin>
  <link rel="dns-prefetch" href="https://www.youtube-nocookie.com">
  <link rel="dns-prefetch" href="https://i.ytimg.com">
  <meta name="author" content="{{ metadata.author }}">
  <meta name="generator" content="{{ eleventy.generator }}">
  <meta name="HandheldFriendly" content="true"/>

  {% if img %}
    <meta itemprop="image" content="{{ img | toWebp }}">
    <meta property="og:image" content="{{ img | toWebp }}" />
    <meta name="twitter:image" content="{{ img | toWebp }}">
  {% else %}
    <meta itemprop="image" content="/img/dust-wave-square-padding.png">
    <meta property="og:image" content="/img/dust-wave-square-padding.png" />
    <meta name="twitter:image" content="/img/dust-wave-square-padding.png">
  {% endif %}

  <title>{{ title or metadata.title }}</title>
  <!-- build:css -->
  <link rel="stylesheet" href="/css/theme.css">
   <!-- endbuild -->
  <link rel="stylesheet" href="https://use.typekit.net/hoj2yet.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
  <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">

{% if customFont %}
   <style>

/* inter-300 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''),
       url('/fonts/inter-v12-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/inter-v12-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-400 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('/fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
       url('/fonts/inter-v12-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/inter-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('/fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

</style>
{% endif %}
