<a class="navbar-brand pe-md-4 fs-4 col-12 col-md-auto text-center" href="{{ 'index.html' | url }}">
  <img src="/img/dust-wave-square.png" class="bi bi-boxes mb-1 drop-shadow" height="35" width="38">

  {# <span class="ms-md-1 mt-1 fw-bolder me-md-5">{{ brandName or metadata.brandName }}</span> #}
</a>
