<div class="container">
  <div class="row d-flex justify-content-center">
    <article class="col-11 col-lg-10 col-xl-8 py-vh-3">
      <h1 class="text-center">{{ socialPage.title }}</h1>
      <div class="legal-page__content">
        {{ socialPage.content | safe }}
      </div>
    </article>
  </div>
</div>
