{% if title == "DUST WAVE"%}
<a href="/dds-donate.html" target="_blank">
	<button id="sticky-button" class="gambado">
		<i class="fa-solid fa-gift"></i> DONATE TO DUST DON'T SETTLE!
	</button>
</a>
{% endif %}