{% if title == "DUST WAVE"%}
<a href="https://www.youtube.com/@dustwavecollective/videos" target="_blank">
	<button id="sticky-button" class="gambado">
		<i class="fa-brands fa-youtube"></i> SUBSCRIBE TO OUR CHANNEL!
	</button>
</a>
{% endif %}