{% set community = i18n[language].community %}
<section class="community-submit" id="community-submit" aria-labelledby="community-submit-heading">
  <h2 id="community-submit-heading">{{ community.submitScript }}</h2>
  <p>{{ community.scriptIntro }}</p>
  <form id="community-form" class="community-form" data-community-form="script">
    <fieldset disabled>
      <label>{{ community.scriptTitle }}<input name="title" required maxlength="100" autocomplete="off"></label>
      <label>{{ community.author }}<input name="author" required maxlength="100" autocomplete="name"></label>
      <div class="community-form__pair">
        <label>{{ community.contactName }}<input name="contactName" required maxlength="100" autocomplete="name"></label>
        <label>{{ community.email }}<input name="email" type="email" required maxlength="254" autocomplete="email"></label>
      </div>
      <label>{{ community.pdf }}
        <input name="file" type="file" required accept="application/pdf,.pdf" aria-describedby="community-file-help">
      </label>
      <p class="community-form__help" id="community-file-help">{{ community.pdfHelp }}</p>
      <label class="community-checkbox"><input name="local" type="checkbox" required> <span>{{ community.local }}</span></label>
      <label class="community-checkbox"><input name="consent" type="checkbox" required> <span>{{ community.consent }}</span></label>
      <p class="community-form__help">{{ community.retention }}</p>
      <div data-community-challenge></div>
      <button type="submit" class="community-button community-button--primary">{{ community.submit }}</button>
    </fieldset>
    <p data-form-status role="status" tabindex="-1"></p>
  </form>
</section>
<script type="application/json" id="community-copy">{{ community | safeJsonLd | safe }}</script>
<script data-cfasync="false" type="module" src="/js/community/public.js?v={{ assets.version | default('dev') }}"></script>
