<!doctype html>
<html class="h-100" lang="{{ language or metadata.language }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>
  <body
    class="{% if bodyModifier %}{{ bodyModifier }} {% endif %}{% if translationKey == 'home' or translationKey == 'projects' %}test{% elif translationKey == 'news' %}news{% elif translationKey == 'partners' %}partners{% endif %}"
    {% if translationKey == "home" or translationKey == "projects" %}id="glitch-target"{% endif %}>
    <a class="skip-link" href="#main-content">{{ i18n | t(language, "nav.skipToContent") }}</a>
    {% if translationKey == "home" or translationKey == "projects" %}
    <video class="home-background-video" autoplay muted loop playsinline preload="auto"
      poster="/img/home/intro-poster.jpg" tabindex="-1" aria-hidden="true">
      <source src="/img/home/intro.webm" type="video/webm">
      <source src="/img/home/intro.mp4" type="video/mp4">
      <img src="/img/home/intro-small.gif" alt="">
    </video>
    <div class="test-background"></div>
    {% elif translationKey == "news" %}
    <div class="news-background"></div>
    {% elif translationKey == "partners" %}
    <div class="partners-background"></div>
    {% endif %}
    {% include 'snippets/sticky.njk' %}
    {% include "snippets/navbar1.njk" %}
      <main id="main-content" tabindex="-1">
        {{ content | safe }}
      </main>
    {% include "snippets/" + footer + ".njk" %}
  </body>
</html>
