---
layout: layouts/podcast-admin.njk
disableLegacyMediaPreconnects: true
customFont: true
cssBundle: podcast-admin
i18nRuntime: true
i18nRuntimeSections:
  - admin
translationKey: podcastAdmin
pagination:
  data: i18n.config.supportedLangs
  size: 1
  alias: language
permalink: "{{ i18n.config.pages.podcastAdmin[language] }}"
eleventyComputed:
  title: "{{ i18n[language].podcast.admin.title }}"
  description: "{{ i18n[language].podcast.admin.description }}"
---

{% set workbench = i18n[language].podcast.admin.workbench %}

{% include "podcast-admin/shell-start.njk" %}
{% include "podcast-admin/settings.njk" %}
{% include "podcast-admin/episodes.njk" %}
{% include "podcast-admin/distribution.njk" %}
{% include "podcast-admin/marketing.njk" %}
{% include "podcast-admin/monetization.njk" %}
{% include "podcast-admin/audience.njk" %}
{% include "podcast-admin/shell-end.njk" %}
