---
title: What We Believe In
eleventyExcludeFromCollections: true
layout: layouts/default.njk
navbar: navbar1
footer: footer1
colorModifier: dark
permalink: about.html
---
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center py-vh-3">
      <h1>{{title}}</h1>
    </div>
    <div class="col-10 col-lg-10 col-xl-9 border-bottom border-top py-vh-3">
      <div class="row">
        <ol>
          <li>A positive, empathetic, supportive, collaborative, free and open creative environment is the best one to help us, both collectively and individually, achieve our artistic goals and ambitions.</li></br>
          <li>Every project we do will provide value collectively and individually. We credit individuals for their contribution, but we share in the success of our projects collectively.</li></br>
          <li>Each member of each project is valuable and important, and should be treated as such.</br></br>
          <li>We support each other. Together, we're stronger and more courageous.</li></br>
          <li>We strive to communicate frequently and openly. We are open and honest with each other. We are also careful to be critical in a constructive and respectful manner.</li></br>
          <li>We recognize that organization and intentionality are critical parts of the success of every project. Each person will make the effort to read messages in group chats, respond to requests in a timely manner, and keep the big picture in mind.</li></br>
          <li>Not everyone needs to (or can) be involved in every project, but everyone needs to offer their support and constructive feedback if asked.</li></br>
          <li>We strive to operate democratically and in a decentralized way as much as possible.</li></br>
          <li>We strive to assume the best of each other, have patience with each other, and commit to earning each other's trust.</li></br>
          <li>If we start a project, we strive to finish the project.</li></br>
          <li>We strive to grow our individual skills independently and bring that learning back to the collective.</li></br>
          <li>We are committed to fundraising efforts that will cover the costs of our projects, and eventually compensate each artist for their valuable time.</li></ol>
      </div>
    </div>
    <div class="col-12 text-center py-vh-3">
      <h1>Members</h1></br>
      <div class="row g-2">
        <div class="col-lg-6 col-md-12 mb-6 mb-lg-0">
          <div class="image_wrapper">
            <img src="/img/about/taryn.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Behind the Scenes">
            <div class="overlay overlay_3 white-text">
              <h3>Taryn Bernicke</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/cherrita.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Behind the Scenes">
            <div class="overlay overlay_3 white-text">
              <h3>Cherrita Thao</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/jay.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Behind the Scenes">
            <div class="overlay overlay_3 white-text">
              <h3>Jay Renteria</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/jordyn.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Awards">
            <div class="overlay overlay_3 white-text">
              <h3>Jordyn Bernicke</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/kaidin.png" class="w-100 shadow-1-strong rounded mb-2" alt="Awards">
            <div class="overlay overlay_3 white-text">
              <h3>Kaidin Jarjusey</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/camille.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Behind the Scenes">
            <div class="overlay overlay_3 white-text">
              <h3>Camille Carlson</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/ryu.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Awards">
            <div class="overlay overlay_3 white-text">
              <h3>Ryuichiro Morgan</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/liv.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Awards">
            <div class="overlay overlay_3 white-text">
              <h3>Olivia Sim</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/frank.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Behind the Scenes">
            <div class="overlay overlay_3 white-text">
              <h3>Frank Rangel</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/laura.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Awards">
            <div class="overlay overlay_3 white-text">
              <h3>Laura Morris</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/colby.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Awards">
            <div class="overlay overlay_3 white-text">
              <h3>Colby Petropoulos</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/alonso.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="alonso">
            <div class="overlay overlay_3 white-text">
              <h3>Alonso Indacochea</h3> 
            </div>
          </div>
        </div> 
        <div class="col-lg-6 mb-6 mb-lg-0">
          <div class="image_wrapper">
            <img src="/img/about/jade.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Behind the Scenes">
            <div class="overlay overlay_3 white-text">
              <h3>Jade Stokes</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/austin.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Behind the Scenes">
            <div class="overlay overlay_3 white-text">
              <h3>Austin Madrid</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/jazz.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Behind the Scenes">
            <div class="overlay overlay_3 white-text">
              <h3>Jazzy Zama</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/adrian.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Behind the Scenes">
            <div class="overlay overlay_3 white-text">
              <h3>Adrian Lopez</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/katie.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="katie">
            <div class="overlay overlay_3 white-text">
              <h3>Kathleen Holscher</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/brandon.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Awards">
            <div class="overlay overlay_3 white-text">
              <h3>Brandon Carter</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/mattkins.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Behind the Scenes">
            <div class="overlay overlay_3 white-text">
              <h3>Matthew Atkins</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/phil.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Behind the Scenes">
            <div class="overlay overlay_3 white-text">
              <h3>Phillip Torres</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/jacklyn.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Awards">
            <div class="overlay overlay_3 white-text">
              <h3>Jacklyn Le</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/harrison.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Behind the Scenes">
            <div class="overlay overlay_3 white-text">
              <h3>Harrison Sim</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/james.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Awards">
            <div class="overlay overlay_3 white-text">
              <h3>James Rodriguez</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/ginny.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Behind the Scenes">
            <div class="overlay overlay_3 white-text">
              <h3>Ginny Leise</h3> 
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/about/ryan.jpg" class="w-100 shadow-1-strong rounded mb-2" alt="Behind the Scenes">
            <div class="overlay overlay_3 white-text">
              <h3>Ryan Lewis</h3> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
