---
layout: layouts/default.njk
footer: footer1
translationKey: projects
pagination:
  data: i18n.config.supportedLangs
  size: 1
  alias: language
permalink: "{{ i18n.config.pages.projects[language] }}"
eleventyComputed:
  title: "{{ i18n[language].pages.projects.title }}"
  description: "{{ i18n[language].pages.projects.description }}"
---

<div class="container">
  {% set posts = collections.posts | reverse %}
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center py-vh-3">
      <h1>{{title}}</h1>
    </div>
    <div class="col-11 col-lg-10 col-xl-6">
      <div class="row border-bottom">
        {% include "snippets/loop.njk" %}
      </div>
    </div>
  </div>
</div>
