---
title: Donate to Dust Don't Settle!
layout: layouts/default.njk
navbar: navbar1
footer: footer1
colorModifier: dark
permalink: dds-donate.html
---
<style>
  #popup {
  	display: none !important;
  }
</style>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center py-vh-3">
      <h1>{{title}}</h1>
    </div>
    <div class="col-11 col-lg-10 col-xl-6 border-bottom border-top py-vh-3">
      <iframe id="qgiv-embed" class="qgiv-embed-form qgiv-embed" frameborder="0" allowtransparency="true" style="display: block; float: none; width: 100%; border: 0px; overflow: hidden; height: 663px;" scrolling="no" data-embed-position="278.9609375" title="Dust Don't Settle - NMFF Fiscal Project" src="https://secure.qgiv.com/for/dustdontsettle-nmfffiscalproject/embed"></iframe>
    </div>
  </div>
</div>
