---
title: DUST WAVE
layout: layouts/default.njk
footer: footer1
isHomepage: true
pagination:
    data: collections.posts
    size: 6
    reverse: true
    alias: posts
---
{# Representative h-card for Bridgy Fed / IndieWeb discovery #}
<div class="h-card visually-hidden">
  <a class="p-name u-url" href="https://dustwave.xyz/">Dust Wave</a>
  <p class="p-note">We make cool stuff.</p>
  <img class="u-photo" src="https://dustwave.xyz/img/favicon/dust-wave-square.png" alt="Dust Wave logo">
</div>

<div class="w-100 overflow-hidden position-relative" id="top">
  {% include "snippets/hero2.njk" %}
</div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-11 col-lg-10 col-xl-6">
      <div class="row border-bottom">
        {% include "snippets/loop.njk" %}
      </div>
      <div class="row py-vh-3">
        <a class="link-fancy" style="text-align:center;" href="/projects.html">MORE ...</a>
      </div>
    </div>
  </div>
</div>
