---
layout: null
eleventyExcludeFromCollections: true
pagination:
  data: i18n.config.supportedLangs
  size: 1
  alias: language
permalink: "{{ '/es' if language == 'es' else '' }}/microcinema.html"
---
{% set destination = i18n.config.pages.microcinema[language] %}
<!doctype html>
<html lang="{{ language }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, follow">
  <meta http-equiv="refresh" content="0; url={{ destination }}">
  <link rel="canonical" href="{{ destination }}">
  <title>Dust Wave Microcinema</title>
</head>
<body><p><a href="{{ destination }}">{{ 'Visita Dust Wave Microcinema' if language == 'es' else 'Visit Dust Wave Microcinema' }}</a></p></body>
</html>
