---
layout: layouts/default.njk
navbar: navbar1
footer: footer1
colorModifier: dark
og_image: /img/microcinema/dw-hq-parking-map.png
translationKey: microcinema
pagination:
  data: i18n.config.supportedLangs
  size: 1
  alias: language
permalink: "{{ i18n.config.pages.microcinema[language] }}"
eleventyComputed:
  title: "{{ i18n[language].pages.microcinema.title }}"
  description: "{{ i18n[language].pages.microcinema.description }}"
  og_alt: "{{ i18n[language].pages.microcinema.mapAlt }}"
---
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="site-page-heading col-12 text-center">
      <h1>{{ title }}</h1>
      <p class="lead">{{ i18n | t(language, "pages.microcinema.lead") }}</p>
    </div>
    <div class="col-12 py-vh-1">
      <div class="row align-items-start">
        <div class="col-12 col-lg-6">
          <img src="/img/microcinema/microcinema-2.jpg" class="microcinema-image" alt="{{ i18n | t(language, 'pages.microcinema.photoAlt') }}">
        </div>
        <div class="col-12 col-lg-6">
          <h3 class="mt-4">{{ i18n | t(language, "pages.microcinema.visit") }}</h3><br>
          <p>{{ i18n | t(language, "pages.microcinema.visitBody") }}</p>
          <p><strong><a class="link-fancy" href="https://maps.google.com/?q=709+Haines+Ave+NW+Albuquerque+NM+87102" target="_blank" rel="noopener">709 Haines Avenue NW, Albuquerque, NM 87102</a></strong></p>
          <h3 class="mt-4">{{ i18n | t(language, "pages.microcinema.expect") }}</h3><br>
          <p>{{ i18n | t(language, "pages.microcinema.expectBody1") }}</p>
          <p>{{ i18n | t(language, "pages.microcinema.expectBody2") }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 py-vh-1">
      <h2 class="text-center">{{ i18n | t(language, "pages.microcinema.parking") }}</h2><br>
      <div class="row align-items-start">
        <div class="col-12 col-lg-7">
          <img src="/img/microcinema/dw-hq-parking-map.png" class="microcinema-image" alt="{{ i18n | t(language, 'pages.microcinema.mapAlt') }}">
        </div>
        <div class="col-12 col-lg-5 mt-4">
          <p><strong>{{ i18n | t(language, "pages.microcinema.parkingWarning") }}</strong> {{ i18n | t(language, "pages.microcinema.parkingWarningBody") }}</p>
          <p><strong>{{ i18n | t(language, "pages.microcinema.parkingAllowed") }}</strong>{{ i18n | t(language, "pages.microcinema.parkingAllowedBody") }}</p>
          <p>{{ i18n | t(language, "pages.microcinema.parkingTip") }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
