---
title: News
layout: layouts/default.njk
footer: footer1
permalink: news.html
pagination:
    data: collections.news
    size: 100
    reverse: true
    alias: news
---

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center py-vh-3">
      <h1>{{title}}</h1>
    </div>
    <div class="col-11 col-lg-10 col-xl-8">
      <div class="row border-bottom">
        {% include "snippets/loop-news.njk" %}
      </div>
      {% include 'snippets/loopprevnext.njk' %}
    </div>
  </div>
</div>
