---
layout: layouts/default.njk
footer: footer1
translationKey: news
pagination:
  data: i18n.config.supportedLangs
  size: 1
  alias: language
permalink: "{{ i18n.config.pages.news[language] }}"
eleventyComputed:
  title: "{{ i18n[language].pages.news.title }}"
  description: "{{ i18n[language].pages.news.description }}"
---

<div class="container">
  {% set news = collections.news | reverse %}
  <div class="row d-flex justify-content-center">
    <div class="site-page-heading col-12 text-center">
      <h1>{{title}}</h1>
    </div>
    <div class="col-11 col-lg-10 col-xl-8">
      <div class="row border-bottom">
        {% include "snippets/loop-news.njk" %}
      </div>
    </div>
  </div>
</div>
