---
title: Partners
layout: layouts/default.njk
navbar: navbar1
footer: footer1
permalink: partners.html
---
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center py-vh-3">
      <h1>{{title}}</h1>
    </div>
    <div class="col-12 text-center py-vh-3">
      <div class="row g-2">
        <div class="col-lg-6 col-md-12 mb-6 mb-lg-0">
          <div class="image_wrapper">
            <img src="/img/partners/fusion.png" class="w-100 shadow-1-strong rounded mb-2" alt="FUSION">
            <div class="overlay overlay_3 overlay-partner white-text">
              <h3 class="partner-title">FUSION</h3>
              <br>
              <h3><a href="https://www.instagram.com/fusiontheatrecompany" class="link-fancy" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
              &nbsp;
              <a href="https://www.fusionnm.org" class="link-fancy" target="_blank"><i class="fa-solid fa-globe" aria-hidden="true"></i></a></h3>
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/partners/mood.png" class="w-100 shadow-1-strong rounded mb-2" alt="MOOD">
            <div class="overlay overlay_3 overlay-partner white-text">
              <h3 class="partner-title">MOOD</h3>
              <br>
              <h3><a href="https://www.instagram.com/allthings_mood" class="link-fancy" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
              &nbsp;
              <a href="https://allthingsmood.com" class="link-fancy" target="_blank"><i class="fa-solid fa-globe" aria-hidden="true"></i></a></h3>
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/partners/cabq-public-arts.png" class="w-100 shadow-1-strong rounded mb-2" alt="City of Albuquerque Public Art">
            <div class="overlay overlay_3 overlay-partner white-text">
              <h3 class="partner-title">City of Albuquerque Public Art</h3>
              <br>
              <h3><a href="https://www.instagram.com/abqpublicart" class="link-fancy" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
              &nbsp;
              <a href="https://www.cabq.gov/artsculture/public-art" class="link-fancy" target="_blank"><i class="fa-solid fa-globe" aria-hidden="true"></i></a></h3>
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/partners/afmi.png" class="w-100 shadow-1-strong rounded mb-2" alt="AFMI">
            <div class="overlay overlay_3 overlay-partner white-text">
              <h3 class="partner-title">Albuquerque Film & Media Incubator</h3>
              <br>
              <h3><a href="https://www.instagram.com/abqfminc" class="link-fancy" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
              &nbsp;
              <a href="https://abqfmi.com" class="link-fancy" target="_blank"><i class="fa-solid fa-globe" aria-hidden="true"></i></a></h3>
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/partners/nmarts.png" class="w-100 shadow-1-strong rounded mb-2" alt="New Mexico Arts">
            <div class="overlay overlay_3 overlay-partner white-text">
              <h3 class="partner-title">New Mexico Arts</h3>
              <br>
              <h3><a href="https://www.instagram.com/newmexicoarts" class="link-fancy" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
              &nbsp;
              <a href="https://nmarts.org" class="link-fancy" target="_blank"><i class="fa-solid fa-globe" aria-hidden="true"></i></a></h3>
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/partners/sopapilla.png" class="w-100 shadow-1-strong rounded mb-2" alt="Sopapilla Productions">
            <div class="overlay overlay_3 overlay-partner white-text">
              <h3 class="partner-title">Sopapilla Productions</h3>
              <br>
              <h3><a href="https://www.instagram.com/sopapillaproductions" class="link-fancy" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
              &nbsp;
              <a href="https://www.sopapillaproductions.com" class="link-fancy" target="_blank"><i class="fa-solid fa-globe" aria-hidden="true"></i></a></h3>
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/partners/johnnyboards.png" class="w-100 shadow-1-strong rounded mb-2" alt="Johnny Boards">
            <div class="overlay overlay_3 overlay-partner white-text">
              <h3 class="partner-title">JohnnyBoards</h3>
              <br>
              <h3><a href="https://www.instagram.com/johnnyboards_nm" class="link-fancy" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
              &nbsp;
              <a href="https://www.johnnyboards.com" class="link-fancy" target="_blank"><i class="fa-solid fa-globe" aria-hidden="true"></i></a></h3>
            </div>
          </div>
        </div> 
        <div class="col-lg-6 mb-6 mb-lg-0">
          <div class="image_wrapper">
            <img src="/img/partners/fulcrum.png" class="w-100 shadow-1-strong rounded mb-2" alt="Fulcrum Fund">
            <div class="overlay overlay_3 overlay-partner white-text">
              <h3 class="partner-title">Fulcrum Fund</h3>
              <br>
              <h3><a href="https://www.instagram.com/516_arts" class="link-fancy" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
              &nbsp;
              <a href="https://www.516arts.org/opportunities/fulcrum-fund" class="link-fancy" target="_blank"><i class="fa-solid fa-globe" aria-hidden="true"></i></a></h3>
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/partners/currents.png" class="w-100 shadow-1-strong rounded mb-2" alt="Current New Media">
            <div class="overlay overlay_3 overlay-partner white-text">
              <h3 class="partner-title">Currents New Media</h3>
              <br>
              <h3><a href="https://www.instagram.com/currentsnewmedia" class="link-fancy" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
              &nbsp;
              <a href="https://currentsnewmedia.org" class="link-fancy" target="_blank"><i class="fa-solid fa-globe" aria-hidden="true"></i></a></h3>
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/partners/andy-warhol.png" class="w-100 shadow-1-strong rounded mb-2" alt="The Andy Warhol Foundation For the Visual Arts">
            <div class="overlay overlay_3 overlay-partner white-text">
              <h3 class="partner-title">The Andy Warhol Foundation For the Visual Arts</h3>
              <br>
              <h3><a href="https://www.instagram.com/warholfoundation" class="link-fancy" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
              &nbsp;
              <a href="https://warholfoundation.org" class="link-fancy" target="_blank"><i class="fa-solid fa-globe" aria-hidden="true"></i></a></h3>
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/partners/zazz.png" class="w-100 shadow-1-strong rounded mb-2" alt="Hotel Zazz">
            <div class="overlay overlay_3 overlay-partner white-text">
              <h3 class="partner-title">Hotel Zazz</h3>
              <br>
              <h3><a href="https://www.instagram.com/hotelzazz" class="link-fancy" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
              &nbsp;
              <a href="https://www.hotelzazz.com" class="link-fancy" target="_blank"><i class="fa-solid fa-globe" aria-hidden="true"></i></a></h3>
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/partners/art-before-comfort.png" class="w-100 shadow-1-strong rounded mb-2" alt="Art Before Comfort">
            <div class="overlay overlay_3 overlay-partner white-text">
              <h3 class="partner-title">Art Before Comfort</h3>
              <br>
              <h3><a href="https://www.instagram.com/artbeforecomfort" class="link-fancy" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
              &nbsp;
              <a href="https://www.artbeforecomfort.com" class="link-fancy" target="_blank"><i class="fa-solid fa-globe" aria-hidden="true"></i></a></h3>
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/partners/nm-dream-team.png" class="w-100 shadow-1-strong rounded mb-2" alt="NM Dream Team">
            <div class="overlay overlay_3 overlay-partner white-text">
              <h3 class="partner-title">New Mexico Dream Team</h3>
              <br>
              <h3><a href="https://www.instagram.com/nm_dreamteam" class="link-fancy" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
              &nbsp;
              <a href="https://www.nmdreamteam.org" class="link-fancy" target="_blank"><i class="fa-solid fa-globe" aria-hidden="true"></i></a></h3>
            </div>
          </div>
          <div class="image_wrapper">
            <img src="/img/partners/abq-computer-electronics-recycling.png" class="w-100 shadow-1-strong rounded mb-2" alt="Albuquerque Computer & Electronics Recycling Co.">
            <div class="overlay overlay_3 overlay-partner white-text">
              <h3 class="partner-title">Albuquerque Computer & Electronics Recycling Co.</h3>
              <br>
              <h3><a href="https://albuquerquerecycling.net" class="link-fancy" target="_blank"><i class="fa-solid fa-globe" aria-hidden="true"></i></a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
