---
title: Secret
layout: layouts/default.njk
navbar: sticky
footer: footer1
permalink: secret.html
---
<div id="redirect" class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center py-vh-3">
      <br>
      <br>
      <br>
      <br>
      <h1>Redirecting ...</h1>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
  <script>
    const urls = [ 
        "https://tr.ee/HvULV5", 
        "https://tr.ee/R7iR2L", 
        "https://tr.ee/e66WAa" 
    ]; 
    const randomIndex = Math.floor(Math.random() * urls.length); 
    const redirectUrl = urls[randomIndex]; 
    document.getElementById('redirect').setAttribute('content', '0; url=' + redirectUrl); 
    window.location.href = redirectUrl;
  </script>
</div>