---
layout: layouts/default.njk
navbar: sticky
footer: footer1
translationKey: secret
pagination:
  data: i18n.config.supportedLangs
  size: 1
  alias: language
permalink: "{{ i18n.config.pages.secret[language] }}"
eleventyComputed:
  title: "{{ i18n[language].pages.secret.title }}"
  description: "{{ i18n[language].pages.secret.redirecting }}"
---
<div id="redirect" class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center py-vh-3">
      <br>
      <br>
      <br>
      <br>
      <h1>{{ i18n | t(language, "pages.secret.redirecting") }}</h1>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
  <script>
    const urls = [ 
        "https://tr.ee/HvULV5", 
        "https://tr.ee/R7iR2L", 
        "https://tr.ee/e66WAa" 
    ]; 
    const randomIndex = Math.floor(Math.random() * urls.length); 
    const redirectUrl = urls[randomIndex]; 
    document.getElementById('redirect').setAttribute('content', '0; url=' + redirectUrl); 
    window.location.href = redirectUrl;
  </script>
</div>
