---
title: Secret
layout: layouts/default.njk
navbar: sticky
footer: footer1
permalink: secret.html
---
<div id="redirect" style="display:none;">
  <script>
    const urls = [ 
        "https://tr.ee/HvULV5", 
        "https://tr.ee/R7iR2L", 
        "https://tr.ee/e66WAa" 
    ]; 
    const randomIndex = Math.floor(Math.random() * urls.length); 
    const redirectUrl = urls[randomIndex]; 
    document.getElementById('redirect').setAttribute('content', '0; url=' + redirectUrl); 
    window.location.href = redirectUrl;
  </script>
</div>