---
layout: layouts/default.njk
footer: footer1
colorModifier: dark
translationKey: slacTerms
eleventyExcludeFromCollections: true
pagination:
  data: i18n.config.supportedLangs
  size: 1
  alias: language
permalink: "{{ i18n.config.pages.slacTerms[language] }}"
eleventyComputed:
  title: "{{ staticLocalePages.slacTerms[language].title }}"
  description: "{{ staticLocalePages.slacTerms[language].title }}"
---
{% set terms = staticLocalePages.slacTerms[language] %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <article class="col-11 col-lg-10 col-xl-8 py-vh-3">
      <h1 class="text-center">{{ terms.title }}</h1>
      <div class="slac-terms__content">
        {{ terms.content | safe }}
      </div>
    </article>
  </div>
</div>
