---
layout: layouts/default.njk
navbar: navbar1
footer: footer1
colorModifier: dark
translationKey: socialTerms
eleventyExcludeFromCollections: true
pagination:
  data: i18n.config.supportedLangs
  size: 1
  alias: language
permalink: "{{ i18n.config.pages.socialTerms[language] }}"
eleventyComputed:
  title: "{{ socialPages.terms[language].title }}"
  description: "{{ socialPages.terms[language].description }}"
---
{% set socialPage = socialPages.terms[language] %}
{% include "snippets/social-page.njk" %}
