---
layout: layouts/default.njk
navbar: navbar1
footer: footer1
colorModifier: dark
translationKey: socialHome
eleventyExcludeFromCollections: true
pagination:
  data: i18n.config.supportedLangs
  size: 1
  alias: language
permalink: "{{ i18n.config.pages.socialHome[language] }}"
eleventyComputed:
  title: "{{ socialPages.home[language].title }}"
  description: "{{ socialPages.home[language].description }}"
---
{% set socialPage = socialPages.home[language] %}
{% include "snippets/social-page.njk" %}
