---
title: Survey
layout: layouts/default.njk
navbar: navbar1
footer: footer1
colorModifier: dark
permalink: survey.html
eleventyExcludeFromCollections: true
---
<script>
  var password = "waveofdust!";
  (function promptPass() {
    var psw = prompt("Enter your Password");
    while (psw !== password) {
      alert("Incorrect Password");
      return promptPass();
    }
  }());
</script>

<div class="container-full">
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center py-vh-3">
      <h1>{{title}}</h1>
    </div>
    <div class="col-11 col-lg-10 col-xl-8 border-bottom border-top py-vh-3">
      <div class="contact-form survey">

        <form method="post" action="https://formspree.io/f/xqkraazw" id="contact-form">

          <div class="contact-form__item">
            <h3><label class="contact-form__label">Name *</label></h3>
            <input type="text" name="name" placeholder="Your name ..." class="contact-form__input">
          </div>
          <br>
          <div class="contact-form__item">
            <h3>Do you have a project for 2024?</h3>
            <input type="checkbox" id="project-writing" name="project-writing" value="Y">
            <label for="project-writing"><strong>Writing</strong></label><br>
            <input type="checkbox" id="project-screenplay" name="project-screenplay" value="Y">
            <label for="project-screenplay"><strong>Screenplay</strong></label><br>
            <input type="checkbox" id="project-filming" name="project-filming" value="Y">
            <label for="project-filming"><strong>Filming</strong></label><br>
            <input type="checkbox" id="project-screening" name="project-screening" value="Y">
            <label for="project-screening"><strong>Screening</strong></label><br>
            <input type="checkbox" id="project-other" name="project-other" value="Y">
            <label for="project-other"><strong>Other</strong></label><br>
          </div>
          <br>
          <div class="contact-form__item">
            <h3>Do you need technical assistance with ...</h3>
            <input type="checkbox" id="tech-writing" name="tech-writing" value="Y">
            <label for="tech-writing"><strong>Writing</strong></label><br>
            <input type="checkbox" id="tech-screenplay" name="tech-screenplay" value="Y">
            <label for="tech-screenplay"><strong>Screenplay</strong></label><br>
            <input type="checkbox" id="tech-filming" name="tech-filming" value="Y">
            <label for="tech-filming"><strong>Filming</strong></label><br>
            <input type="checkbox" id="tech-screening" name="tech-screening" value="Y">
            <label for="tech-screening"><strong>Screening</strong></label><br>
            <input type="checkbox" id="tech-other" name="tech-other" value="Y">
            <label for="tech-other"><strong>Other</strong></label><br>
          </div>
          <br>
          <div class="contact-form__item">
            <h3><label class="contact-form__label">Name of project(s) or co-producers to not double-count</label></h3>
            <textarea name="project" placeholder="Your projects..." class="contact-form__textarea"></textarea>
          </div>
          <br>
          <div class="contact-form__item">
            <h3>What expenses do you anticipate for your project?</h3>
            <input type="checkbox" id="expenses-location" name="expenses-location" value="Y">
            <label for="expenses-location"><strong>Location/travel/permits</strong></label><br>
            <input type="checkbox" id="expenses-equipment" name="expenses-equipment" value="Y">
            <label for="expenses-equipment"><strong>Equipment rental/props/wardrobe</strong></label><br>
            <input type="checkbox" id="expenses-catering" name="expenses-catering" value="Y">
            <label for="expenses-catering"><strong>Catering/crafty</strong></label><br>
            <input type="checkbox" id="expenses-marketing" name="expenses-marketing" value="Y">
            <label for="expenses-marketing"><strong>Marketing/screening/festivals</strong></label><br>
            <input type="checkbox" id="expenses-other" name="expenses-other" value="Y">
            <label for="expenses-other"><strong>Other</strong></label><br>
          </div>
          <br>
          <div class="contact-form__item">
            <h3>What fundraising activities appeal to you? (i.e., which ones would you attend if a friend invited you?)</h3>
            <input type="checkbox" id="fundraising-appeal" name="fundraising-appeal" value="Y">
            <label for="fundraising-appeal"><strong>Direct appeal</strong></label><br>
            <input type="checkbox" id="fundraising-crowdfunding" name="fundraising-crowdfunding" value="Y">
            <label for="fundraising-crowdfunding"><strong>Crowdfunding</strong></label><br>
            <input type="checkbox" id="fundraising-bake" name="fundraising-bake" value="Y">
            <label for="fundraising-bake"><strong>Bake sale</strong></label><br>
            <input type="checkbox" id="fundraising-restaurant" name="fundraising-restaurant" value="Y">
            <label for="fundraising-restaurant"><strong>Restaurant fundraisers</strong></label><br>
            <p style="font-size:x-small;padding-left:1.7em;margin:unset;">(i.e. a restaurant sponsors a time window, DW receives a % of sales during that window)</p>
            <input type="checkbox" id="fundraising-silent" name="fundraising-silent" value="Y">
            <label for="fundraising-silent"><strong>Silent auction</strong></label><br>
            <input type="checkbox" id="fundraising-events" name="fundraising-events" value="Y">
            <label for="fundraising-events"><strong>Events/movie screenings/festivals</strong></label><br>
            <input type="checkbox" id="fundraising-grants" name="fundraising-grants" value="Y">
            <label for="fundraising-grants"><strong>Grant partnerships with nonprofits</strong></label><br>
            <input type="checkbox" id="fundraising-merch" name="fundraising-merch" value="Y">
            <label for="fundraising-merch"><strong>Merchandise</strong></label><br>
            <input type="checkbox" id="fundraising-other" name="fundraising-other" value="Y">
            <label for="fundraising-other"><strong>Other</strong></label><br>
          </div>
          <br>
          <div class="contact-form__item">
            <h3>What ways would you contribute to a Dust Wave fundraising event?</h3>
            <input type="checkbox" id="contribute-making" name="contribute-making" value="Y">
            <label for="contribute-making"><strong>Making stuff</strong></label><br>
            <p style="font-size:x-small;padding-left:1.7em;margin:unset;">(like food, art, decorations, films, copy, marketing materials)</p>
            <input type="checkbox" id="contribute-networking" name="contribute-networking" value="Y">
            <label for="contribute-networking"><strong>Networking</strong></label><br>
            <p style="font-size:x-small;padding-left:1.7em;margin:unset;">(asking potential donors to donate in-kind goods or services, asking friends to attend events, posting about Dust Wave campaigns on personal social media)</p>
            <input type="checkbox" id="contribute-volunteering" name="contribute-volunteering" value="Y">
            <label for="contribute-volunteering"><strong>Volunteering</strong></label><br>
            <p style="font-size:x-small;padding-left:1.7em;margin:unset;">(event planning, transportation or delivery, event staffing)</p>
            <input type="checkbox" id="contribute-donation" name="contribute-donation" value="Y">
            <label for="contribute-donation"><strong>Giving money</strong></label><br>
          </div>
          <br>
          <div class="contact-form__item">
            <h3><label class="contact-form__label">Other fundraising ideas</label></h3>
            <textarea name="other-fundraising-ideas" placeholder="Your fundraising ideas ..." class="contact-form__textarea"></textarea>
          </div>
          <br>
          <div class="contact-form__item">
            <h3><label class="contact-form__label"> Guesstimate a 2024 annual budget amount for Dust Wave (for 4 shorts, 3 competition films, 1 screening event)</label></h3>
            <input type="text" name="budget-guess" placeholder="Your guess ..." class="contact-form__input">
          </div>
          <br>
          <div class="cf-turnstile" data-sitekey="0x4AAAAAAAAudwxAIPEUguw8" data-callback="javascriptCallback" data-theme="light"></div>

          <input type="hidden" name="_next" value="/thanks" />
          <input type="hidden" name="_subject" value="Dust Wave survey submission" />

          <div class="contact-form__item">
            <input type="submit" value="Submit" class="button button--large border-color-white">
          </div>

        </form>

      </div>

      <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    </div>
  </div>
</div>
